<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--General Settings-->
    <add key="ProjectName" value="Global Intranet"/>
    <add key="DefaultDataSheet" value="General_Data"/>
    <add key="DataReferenceIdentifier" value="#"/>
    <add key="ApplicationUrl" value="http://ci-intranet.cbre.com/Sites/Americas-BuildingServices/en-US/Pages/default.aspx/"/>
    <add key="DateFormatString" value="dd-MMM-yyyy hh:mm:ss tt"/>
    <!--Browser Settings-->
    <add key="InternetExplorerDriverPath" value="..\\..\\SupportLibraries\\IEDriverServer.exe"/>
    <add key="ChromeDriverPath" value="..\\..\\SupportLibraries\\chromedriver.exe"/>
    <add key="DefaultBrowser" value="firefox"/>
    <!--Execution Settings-->
    <add key="RunConfiguration" value="Regression"/>
    <add key="Environment" value="CI"/>
    <add key="TfsUrl" value="http://tfs.cbre.com:8080/tfs/CBRE01"/>
    <add key="TfsProj" value="GI - Testing"/>
    <add key="Managebug" value="yes"/>
    <add key="Browser" value="iexplore"/>
    <add key="VDI" value="Gopesh"/>
    <add key="PostDataToDevops" value="Yes"/>
    <!--<add key="RunConfiguration" value="Sanity" />-->
    <add key="OnError" value="NextIteration"/>
    <add key="NumberOfThreads" value="1"/>
    <add key="GridMode" value="off"/>
    <!--Grid-specific Settings (applicable only if GridMode=On)-->
    <add key="GridHubUrl" value="http://10.252.48.9:4444/wd/hub"/>
    <add key="DefaultBrowserVersion" value="9.0"/>
    <add key="DefaultPlatform" value="Windows"/>
    <!--Report Settings-->
    <!--LogLevel ranges between 0 to 5, with 0 being minimal reporting and 5 being highly detailed reporting-->
    <add key="LogLevel" value="4"/>
    <add key="HtmlReport" value="True"/>
    <add key="ExcelReport" value="True"/>
    <add key="IncludeTestDataInReport" value="True"/>
    <add key="TakeScreenshotFailedStep" value="True"/>
    <add key="TakeScreenshotPassedStep" value="False"/>
    <add key="ReportTheme" value="MYSTIC"/>
    <add key="TestDataSheet" value="Test Data"/>
    <add key="CheckPointSheet" value="Parametrized Checkpoints"/>
    <add key="Host" value="localhost"/>
    <add key="Port" value="4444"/>
    <add key="MailPort" value="25"/>
    <add key="MailHost" value="imsx.cbre.com"/>
    <add key="SendMail" value="No"/>
    <add key="MailFrom" value="GIAutomation.Account@cbre.com"/>
    <add key="MailTo1" value="Gopesh.Samota@cbre.com;Yogesh.Sawhney@cbre.com;Imran.Khan3@cbre.com;Amit.Jaiswal2@cbre.com"/>
    <!--<add key="MailTo1" value=""/>-->
    <add key="Debug" value="True"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="TypeOfTest" value="UI Test Automation"/>
    <add key="AppVersion" value="Kit version tested "/>
    <add key="SprintRelease" value="test"/>
    <add key="OSVersion" value="test"/>
    <add key="Module" value="test"/>
    <add key="WorkItemURL" value="http://tfs.cbre.com:8080/tfs/CBRE01/GI%20-%20Testing/_workitems?_a=edit"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
